* {
  margin: 0;
  padding: 0;
}

html,
body,
.app {
  height: 100%;
  width: 100%;
}

body,
button,
select,
input,
textarea {
  font-family: 'Dosis', sans-serif;
  outline: none;
}

button:hover,
select:hover {
  cursor: pointer;
}

fieldset {
  border: none;
}

/* Header */

.header {
  width: 100%;
  height: 70px;
  background-color: #20b362;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin-left: 20px;
}

.header__sort-by,
.header__sort-by__drop-down,
.header__sign-up {
  background: none;
  font-size: 20px;
  border: none;
  color: #fff;
}

.header__sort-by__drop-down {
  text-decoration: underline;
}

.header__sort-by__drop-down-option {
  color: #000;
}

.header__sign-up {

  border: 3px solid #fff;
  color: #fff;
  padding: 10px 20px;

  font-weight: bold;
  border-radius: 15px;
  margin: 20px;
}

.header__sign-up:hover {
  background-color: #118646;
  border-color: #d4d4d4;
  color: #d4d4d4;
}

/* Register Sitter */

.register-sitter,
.book-sitter,
.reviews {
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 25%;
  left: 33%;
  width: 33%;
  height: fit-content;
  background-color: #fff;
  border: 3px solid #20b362;
  border-radius: 15px;
  padding: 25px;
  font-size: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow:  0 0 15px 2px #747474;
}

.register-sitter::-webkit-scrollbar {
  display: none;
}

.register-sitter__close,
.book-sitter__close,
.review__close {
  float: right;
}

.register-sitter__close:hover,
.book-sitter__close:hover,
.review__close:hover {
  cursor: pointer;
}

.register-sitter__input,
.book-sitter__input,
.new-review__input {
  display: block;
  border: none;
  border-bottom: 2px solid #20b362;
  border-right: 2px solid #20b362;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  margin-bottom: 15px;
  background-color: #A3EBB1;
  padding: 5px;
  color: #747474;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.register-sitter__input::-webkit-scrollbar,
.book-sitter__input::-webkit-scrollbar {
  display: none;
}

.register-sitter__input--rates {
  position: relative;
  top: -27px;
  padding-left: 15px;
  width: 85px;
}

.register-sitter__rate-container {
  height: 55px;
}

.register-sitter__rate-container::before,
.register-sitter__rate-container::after {
  color:#747474;
  position: relative;
  z-index: 1;
}

.register-sitter__rate-container::before {
  content: '$';
  top: 3px;
  left: 5px;
}

.register-sitter__rate-container::after {
  content: '/day';
  top: -75px;
  left: 45px;
}

.register-sitter__upload-photo {
  width: 250px;
}

.register-sitter__upload-photo:hover {
  cursor: pointer;
}

.register-sitter__pfp {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #20b362;
}

.register-sitter__submit,
.book-sitter__submit {
  display: block;
  border: none;
  background-color: #20b362;
  color: #fff;
  width: 75px;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;;
}

.register-sitter__submit:hover,
.book-sitter__submit:hover {
  background-color: #118646;
  color: #d4d4d4;
}

/* Sitter List */

.sitter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

/* Sitter */

.sitter {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #20b362;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px #747474;
  padding: 15px;
  margin: 20px;
}

.sitter__pfp {
  height: 250px;
  width: 250px;
  border: 3px solid #20b362;
  border-radius: 50%;
  object-fit: cover;
}

.sitter__name,
.sitter__loc-and-rate,
.sitter__abt {
  margin: 5px;
  text-align: center;
}

.sitter__book,
.sitter__read-reviews,
.new-review__submit {
  color: #fff;
  background-color: #20b362;
  border: none;
  border-radius: 10px;
  width: fit-content;
  height: 35px;
  font-size: 16px;
  margin: 20px 10px 0 10px;
  padding: 0 10px;
}

.sitter__book:hover,
.sitter__read-reviews:hover {
  background-color: #118646;
  color: #d4d4d4;
}

/* Book Sitter */

.book-sitter {
  height: 38%;
}

.book-sitter__input--date {
  width: 200px;
  display: inline;
}

.book-sitter__date-join {
  margin: 5px;
}

.book-sitter__submit {
  width: 145px;
}

/* Reviews */

.reviews {
  max-height: 50%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reviews__empty {
  text-align: center;
}

.reviews::-webkit-scrollbar {
  display: none;
}
.reviews__add-review {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: #20b362;
  width: fit-content;
  height: fit-content;
  padding: 9px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 15px;
}

.reviews__add-review:hover {
  color: #d4d4d4;
  background-color: #118646;
}

.review__user-timestamp {
  font-size: 14px;
}

.review,
.new-review {
  border: 2px solid #20b362;
  border-radius: 10px;
  padding: 10px;
  margin-top: 25px;
  -ms-overflow-style: none;
}

.new-review__input--radio-select {
  display: block;
}

.new-review__input__radio-btn::after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.new-review__input__radio-btn:checked::after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #20b362;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
